*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~header */
header{
  display: flex;
  width: 100%;
  height: 14vh;
  margin: auto;
  align-items: center;
  box-shadow:0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  font-family: 'source sans pro', sans-serif;
  font-weight: bold;
}
#navbar{
  top: 0;
  transition: top 0.3s;
}

.logo-container{
  flex: 1;
  margin-left: 10%;
}

.logo{
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;

}

nav{
  flex: 0.4;
  margin-right: 10%;
}

.nav-links{
  display:flex;
  justify-content:space-between;
  list-style: none;
}
    

a.inactive-link:link, a.inactive-link:visited{
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}
a.active-link,a.inactive-link:hover{
  color: black;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 0px;
  text-decoration: none;
  font-size: 20px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~project grid*/
.container{
  width: 80%;
  margin: auto;
  padding-top: 25vh;
}

.gridWrapper{
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px;
  box-sizing: border-box;
  gap: 15vh;  
}

.card{
  display: block;
  margin: auto;
  width: 65%;
}

.img{
  position: relative;
  width:100%;
  height: 50%;
  box-shadow:0 0 7px rgba(0, 0, 0, 0.1);
}
.img img{
  width:100%;
  display: block; /* important */
}
.content h3{
  font-family: 'sourse sans pro', sans-serif;
  font-size: 1em;
  padding-top: 1em;
}
.content p{
  font-family: 'sourse sans pro', sans-serif;
  font-size: 0.8em;
  padding-top: 0.5em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(139, 139, 139);
}

.img:hover .overlay {
  opacity: 0.7;
}

.text {
  color: rgb(255, 255, 255);
  font-family: 'sourse sans pro', sans-serif;  
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer{
  width: 80%;
  height: 20vh;
  margin: auto;
  clear: both;
  padding-top: 10vh;
  font-family: 'sourse sans pro', sans-serif;
  font-size: 14px;
  text-align: right;
}


/* -------------------------------------project page style------------------------------------*/
.intro{
  text-align: center;
}
.intro h3{
  font-family: 'source sans pro', sans-serif;
  font-size: 1em;
  font-weight: 400;
}
.intro h1{
  font-family: 'source sans pro', sans-serif;
  font-size: 2em;
  padding: 7%;
}
.intro p{
  font-family: 'literata',serif;
  font-size: 1.2em;
  margin: 0 18% 8%;
}
.intro h4{
  font-family: 'literata',serif;
  font-size: 1em;
}
.introPic{
  display: block;
  margin: 10% auto;
  width: 40%;
}

/* ----------section-------------*/
section{
  display: block;
  clear: both;
  margin: 20vh 0;
  /*background-color: greenyellow;*/
}
section h3{
  font-family: 'literata', serif;
  font-weight: 700;
  padding: 1vh;
}
section h2{
  font-family: 'source sans pro', sans-serif;
  color: rgb(165, 165, 165);
  padding-bottom: 1vh;
  font-size: 20px;
}
section p{
  font-family: 'literata', serif;
  padding: 5vh;
}
section ul{
  font-family: 'literata', serif;
  padding: 5vh; 
  font-weight: 700;
}
ol{
  font-family: 'literata', serif;
  padding-left: 7vh;
}
mark{
  background-color:#ebffc7 ;
}
em{
  font-family: 'literata', serif;
  font-weight: 500;
}
sub{
  font-family: 'source sans pro', sans-serif;

}

.floatRight{
  float: right;
  width: 60%;
  padding: 5vh;
}
.center{
  display: block;
  margin: auto;
  width: 100%;
  clear: both;
}
.inline{
  display: flex;
  justify-content: space-around;
}

.video-responsive-container {
  position:relative;
  padding-bottom:40%;  /*original 56.25% */
  padding-top:30px;
  height:0;
  overflow:hidden;
  }
  
  .video-responsive-container iframe, .video-responsive-container object, .video-responsive-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  }
